<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<nav class="navbar navbar-expand-lg ">
   
    <mat-toolbar class="head">
    <mat-icon>games</mat-icon>
        <!-- <span class="header">Welcome to one step Job Finder</span> -->
        <span class="spacer"></span>
      
    </mat-toolbar>
   
  </nav>

  <body>
    <div class="matchzone">
        <h5><strong>Welcome {{userName}}</strong></h5>
      </div>
  <mat-card class="mat-card">
      <!-- <div class="active-cyan-3 active-cyan-4 mb-4">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div> -->
    <!-- <input class="input" class="abc" type="text" placeholder="Search for candidates">  <div class="search"><button type="submit"><i class="fa fa-search"></i></button> -->
      <!-- <form class="form-inline active-cyan-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
          <i class="fa fa-search" aria-hidden="true"></i>
      </form>
     -->
     <!-- <form class="form-inline mr-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form> -->

    <form class="form-inline md-form form-sm active-cyan-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
         
        
    </form>

    
  </mat-card> 
 

</body>


  <footer class="footer">
    
    <div layout="row" layout-align="center center" flex>
        <h5>Matchzone </h5>
    </div>
  
 </footer> 
